@font-face {
    font-family: Nats;
    src: url(./fonts/NATS-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nats", sans-serif;
}

:root {
    --branco: #fff;
    --preto: #000;
}

.espaco_lateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

/* -------menu-------- */
header {
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 155px;
}

.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 17px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:hover {
    color: darkolivegreen;
}

/* ----------- Menu Hamburguer ------------ */

#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}








/* ---------Resposividade--------- */
@media screen and (max-width: 768px) {
    #sombra {
        background-color: darkolivegreen;
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: 0.5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;

        background: none;
        border: none;

        display: unset;
        cursor: pointer;
    }

    header svg {
        fill: darkolivegreen
    }

    #icone-barras {
        display: block;
    }

    nav.menu {
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: 0, 5s;
    }

    menu a {
        color: #fff;
    }
}