@font-face {
    font-family: Nats;
    src: url(./fonts/NATS-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nats", sans-serif;
}

:root {
    --branco: #fff;
    --preto: #000;
}

.espaco_lateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}


.logo {
    align-items: center;
    margin-top: 45px;
    position: absolute;
    left: 43%;
}

.logo img {
    width: 255px;
    display: block;
    margin: 0 auto;
}

body {
    background-color: #F1EDED;
}

/* ------- menu -------- */

.menu-baixo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 390px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 90px;
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 30px;
}

.menu a:hover {
    transition: 0.5s;
    color: #808000;
}

.quiz {
    background: #b8ce9f;
    border: none;
    padding: 5px 10px;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
}

/* --------- barra de pesquisa --------- */

.pesquisa {
    width: 280px;
    padding: 11px 18px;
    display: flex;
    align-items: center;
    gap: 10px;

    background: white;
    border: 2px solid #808000;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.pesquisa .icon {
    font-size: 20px;
    color: #000;
}

.pesquisa input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #767474;
}

.pesquisa input::placeholder {
    color: #767474;
}

.input-pesq i {
    color: #000;
}

/* -------- banner -------- */

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------- cards ------- */

.cards-container {
    display: flex;
    left: 30px;
    gap: 40px;
    justify-content: center;
    padding: 120px;
    background: #f0eded;
}


.card {
    width: 300px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-bottom: 20px;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-info {
    padding: 15px 20px 0 20px;
}

.card-info h3 {
    font-size: 17px;
    margin: 0;
}

.price {
    font-size: 16px;
    margin-top: 8px;
}

.estrela {
    position: absolute;
    bottom: 18px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
}

.star.filled {
    color: gold;
}

/* --------- sobre --------- */

.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 60px 40px;
}

.texto {
    max-width: 480px;
}

.texto h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    display: flex;
    text-align: left 30px;
}

.texto h2::after {
    content: "";
    width: 250px;
    height: 2px;
    background: #b3be85;
    position: absolute;
    bottom: 6px;
    left: 0;
}

.texto p {
    font-size: 20px;
    line-height: 1.3;
    color: #333;
}

.imagem img {
    width: 200px;
    border-radius: 12px;
    object-fit: cover;
}

/* ---------- roda pe ------------ */
footer {
    background-color: #D9D9D9;
    padding: 40px 20px;
}

.roda-pe {
    width: 90%;
    max-width: 1400px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo img {
    display: flex;
    left: 100px;
    margin-top: -10px;
    transform: translateY(-10px);
}

.footer-contato {
    display: flex;
    align-items: center;
    flex-direction: column;


}

.logo {
    width: 300px;
    margin-bottom: 20px;
}

.footer-coluna h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-coluna {
    text-align: right;
}

.icons img {
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.icons img {
    color: #fff;
}

.icons img:hover {
    color: #b3be85;
}

.icons img:hover {
    transform: scale(1.1);
}

/* ---------- quiz --------- */



.quiz-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}

.quiz-container h2 {
    color: #467C42;
    margin-bottom: 20px;
}

.card {
    background: white;
    border-radius: 18px;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-left: 10px solid #C5D4B1;
}

.card h3 {
    margin-bottom: 20px;
    color: #467C42;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 12px;
    background-color: #C5D4B1;
    color: #2d2d2d;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #467C42;
    color: white;
}

.result-card {
    display: none;
    border-left-color: #7E7C1B;
}

.result-card h2 {
    color: #7E7C1B;
}