@font-face {
    font-family: Nats;
    src: url(./fonts/NATS-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nats", sans-serif;
}

:root {
    --branco: #fff;
    --preto: #000;
}

.espaco_lateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
   align-items: center;
   margin-top: 45px;
    position: absolute;
   left: 43%;
}

.logo img {
    width: 255px;
    display: block;
    margin: 0 auto;
}